<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.financial.mapper.WorkMapper">
    
    <resultMap type="Work" id="WorkResult">
        <result property="id"    column="id"    />
        <result property="des"    column="des"    />
        <result property="hour"    column="hour"    />
    </resultMap>

    <sql id="selectWorkVo">
        select id, des, hour from work
    </sql>

    <select id="selectWorkList" parameterType="Work" resultMap="WorkResult">
        <include refid="selectWorkVo"/>
        <where>  
            <if test="des != null  and des != ''"> and des = #{des}</if>
            <if test="hour != null "> and hour = #{hour}</if>
        </where>
    </select>
    
    <select id="selectWorkById" parameterType="Long" resultMap="WorkResult">
        <include refid="selectWorkVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWork" parameterType="Work" useGeneratedKeys="true" keyProperty="id">
        insert into work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="des != null and des != ''">des,</if>
            <if test="hour != null">hour,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="des != null and des != ''">#{des},</if>
            <if test="hour != null">#{hour},</if>
         </trim>
    </insert>

    <update id="updateWork" parameterType="Work">
        update work
        <trim prefix="SET" suffixOverrides=",">
            <if test="des != null and des != ''">des = #{des},</if>
            <if test="hour != null">hour = #{hour},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkById" parameterType="Long">
        delete from work where id = #{id}
    </delete>

    <delete id="deleteWorkByIds" parameterType="String">
        delete from work where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>